<style type="text/css">
    <!--
    
    html, body {
    background-color: #FFF;
    }
    #main {
    width: 100%;
    }
    #content {
    display: flex;
    flex-flow: column wrap;
    }
    #content img {
    width: 300px;
    }
    @media only screen and (max-width: 500px) {
        #content {
            display: flex;
            flex-flow: row nowrap;
        }
        #content img {
            max-width: 266px;
            max-height: 266px;
        }
    }
    
    .grid__item .archive__item-teaser {
        height: 151px;
        max-height: 151px;
    }
    .archive__item-teaser img {
        width: 100%; 
        height: 151px; 
        object-fit: contain;
    }
    
    -->
</style>