---
# Only the main Sass file needs front matter (the dashes are enough)
---
$primary-color: #00BB31;
$primary-color-dark: #FE5000;
$text-color: #000;
$text-color-dark: #D0D0CE;
$navicon-link-color-hover-dark: #FE5000;
$navicon-link-color-hover: #00BB31;
$background-color: #D0D0CE;
$background-color-dark: #000;

img.teaserimage {
  float: right;
  max-width: 255px;
  padding: 15px;
  height: 151px;
}

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
